mat-form-field.input-tables {
  background: transparent;
  font-size: 14px;
  text-align: center;
  outline: none;
  fill: none;
  height: 65px;
}

.codigo {
  width: 80px;
}

.btn-sm {
  background-color: rgb(80, 87, 97);
  margin: 5px 10px 5px 10px;
  color: white;
}

td {
  padding-top: 10px;
  text-align: center;
  vertical-align: middle;
}

table {
  width: 100%;
  font-size: 12px;
}

p {
  font-size: x-small;
}

.btn {
  background-color: rgb(80, 87, 97);
  color: white;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"]+label {
  background-color: rgb(83, 157, 76);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin-top: 7px;
  font-weight: 600;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: middle;
}

[type="file"]+label:hover {
  background-color: rgb(27, 179, 0);
}

[type="file"]+label.btn-2 {
  background-color: rgb(78, 152, 72);
  overflow: hidden;
}

[type="file"]+label.btn-2::before {
  color: #fff;
  content: "\f382";
  font-family: "Font Awesome 5 Pro";
  font-size: 100%;
  height: 100%;
  right: 130%;
  line-height: 3.3;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

[type="file"]+label.btn-2:hover {
  background-color: rgb(12, 82, 0);
}

#descargar,
#registrar {
  background-color: #93a3c7;
  padding-bottom: 6px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: auto;
  font-size: 12px;
  overflow: hidden;
  height: 65px;
  width: 220px;
}

#descargar:hover,
#registrar:hover {
  background-color: rgb(0, 76, 255);
  font-weight: bold;
}

.circulo {
  margin-right: -50px;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  float: left;
}

.row.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
}

.col-md.flex-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorTotal {
  display: flex;
  align-items: center;
  width: 270px;
  margin-left: 1rem;
  margin-right: auto;
  font-size: 0.9rem;
  gap: 0.5rem;
}

.circuloTotal {
  background-color: rgb(159, 221, 154);
  width: 1rem;
  height: 1rem;
}



.align-left {
  text-align: left;
}


.encabezado {
  font-weight: bold;
}