<div class="container" style="margin-bottom: 25px; padding-bottom: 10px; padding-top: 15px;">
    <div class="row">
        <div>
            <div id="titulo">
                <span>USUARIOS DIRECCIÓN</span>
            </div>
            <mat-card class="example-card mat-elevation-z8">
                <div class="d-flex flex-wrap justify-content-around" style="margin-top: 1%;">
                    <button mat-raised-button id="btn_listar_rojo" *ngIf="lista_inactivos" (click)="ListarInactivos()"
                        style="margin-bottom: 20px;" matSuffix matTooltipPosition="right"
                        matTooltip="Mostrar la lista de usuarios inactivos.">
                        LISTAR USUARIOS INACTIVOS
                    </button>
                    <button mat-raised-button id="btn_listar_verde" *ngIf="lista_activos" (click)="ListarActivos()"
                        style="margin-bottom: 20px;" matSuffix matTooltipPosition="right"
                        matTooltip="Mostrar la lista de usuarios activos.">
                        LISTAR USUARIOS ACTIVOS
                    </button>
                </div>
            </mat-card>

        </div>
    </div>
</div>



<div class="container" style="padding-top: 15px; padding-bottom: 25px;">

    <div class="col-md" style="padding-bottom: 20px;">
        <mat-card class="mat-elevation-z8" style="padding-bottom: 5px;">
            <div class="d-flex bd-highlight" id="titulo">
                <div class="w-100 bd-highlight">
                    <div id="titulo" *ngIf="Hab_Deshabilitados">
                        <span> LISTA DE USUARIOS DIRECCIÓN INACTIVOS
                        </span>
                    </div>
                    <div id="titulo" *ngIf="tabla_activos">
                        <span>LISTA DE USUARIOS DIRECCIÓN ACTIVOS</span>
                    </div>
                </div>
            </div>
            <div class="container" style="padding-top: 25px; text-align: center;">
                <div style="padding: 10px;">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Filtrar por Carrera</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar carrera...">
                    </mat-form-field>
                </div>

                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource_nv" matSort #sort_nv="matSort"
                        class="mat-elevation-z8 bordered-table" style="width: 100%;">

                        <ng-container matColumnDef="carrera">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="encabezado">Carrera</th>
                            <td mat-cell *matCellDef="let direccion" class="align-left">{{ direccion.carrera }}</td>
                        </ng-container>

                        <ng-container matColumnDef="correoDireccion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="encabezado">Correo</th>
                            <td mat-cell *matCellDef="let direccion" class="align-left">{{ direccion.correoUsuario }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="encabezado">
                                Acciones</th>
                            <td mat-cell *matCellDef="let estudiante">
                                <button mat-icon-button *ngIf="Hab_Deshabilitados && dataSource_nv.data.length !=0 "
                                    color="accent" matTooltip="Activar usuario dirección"
                                    (click)="ConfirmarActiva(estudiante, true )">
                                    <mat-icon [ngStyle]="{ color: '#4CAF50' }">check_circle</mat-icon>
                                </button>

                                <button *ngIf="tabla_activos &&  dataSource_nv.data.length !=0" mat-icon-button
                                    color="warn" matTooltip="Desactivar usuario dirección"
                                    (click)="ConfirmarActiva(estudiante, false )">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="['carrera', 'correoDireccion','acciones']">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ['carrera', 'correoDireccion', 'acciones'];">
                        </tr>
                    </table>
                    <mat-paginator #paginator_nv [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </mat-card>
    </div>
</div>