<div class="container" >
    <mat-card class="success-card">
        <mat-card-header>
            <mat-icon class="icon" style="color:#4caf50;">check_circle</mat-icon>
            <mat-card-title>¡Usuario Creado!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Se le ha registrado exitosamente en el sistema. Ahora puedes registrar tu contraseña.
                <b>Defina su contraseña:.</b>
            </p>
            <form [formGroup]="formulario">
                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput [formControl]="password" required>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary"  [disabled]="!formulario.valid" (click)="ValidarCorreoPassword(formulario)">Guardar Contraseña</button>
        </mat-card-actions>
    </mat-card>
</div>
<app-footer></app-footer>