<app-login *ngIf="!removerLogin()"></app-login>

<app-main-nav *ngIf="!removerMain()"></app-main-nav>

<app-verificar-correo *ngIf="!removerVerificarCorreo()"></app-verificar-correo>

<app-password-docente *ngIf="!removerVerificarPassword()"></app-password-docente>

<app-registro *ngIf="!removerRegistro()"> </app-registro>

<app-olvido-contrasena *ngIf="!removerOlvidoContrasena()"></app-olvido-contrasena>

<app-restaurar-contrasena *ngIf="!restaurarContraseana()"></app-restaurar-contrasena>


<app-spinner></app-spinner>