<div class="container" style="padding-bottom: 50px; text-align: center;">
    <br>
    <div class="mat-elevation-z8" style="background: white;">

        <div class="row">
            <div>
                <div id="titulo">
                    <span>PROPUESTAS ASIGNADAS COMO TUTOR</span>
                </div>
            </div>
        </div>

        <div style="padding: 10px;">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Filtrar por Tema</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar tema...">
            </mat-form-field>
        </div>
        <div class="table-responsive">

            <table mat-table [dataSource]="dataSource_nv" matSort #sort="matSort"
                class="mat-elevation-z8 bordered-table" style="width: 100%;">

                <ng-container matColumnDef="tema">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="encabezado">Tema</th>
                    <td mat-cell *matCellDef="let propuesta" class="align-left">{{ propuesta.tema }}</td>
                </ng-container>

                <ng-container matColumnDef="primerEstudiante">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="encabezado">Estudiante 1</th>
                    <td mat-cell *matCellDef="let propuesta" class="align-left">{{ propuesta.primerEstudiante }}</td>
                </ng-container>

                <ng-container matColumnDef="segundoEstudiante">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="encabezado">Estudiante 2</th>
                    <td mat-cell *matCellDef="let propuesta" class="align-left">{{ propuesta.segundoEstudiante }}</td>
                </ng-container>

                <ng-container matColumnDef="tercerEstudiante">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="encabezado">Estudiante 3</th>
                    <td mat-cell *matCellDef="let propuesta" class="align-left">{{ propuesta.tercerEstudiante }}</td>
                </ng-container>
                <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="encabezado">Tipo</th>
                    <td mat-cell *matCellDef="let propuesta" class="align-left">{{ propuesta.tipo }}</td>
                </ng-container>

                <ng-container matColumnDef="categoria">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="encabezado">Categoria</th>
                    <td mat-cell *matCellDef="let propuesta" class="align-left">{{ propuesta.categoria }}</td>
                </ng-container>

                <ng-container matColumnDef="periodo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="encabezado">Periodo</th>
                    <td mat-cell *matCellDef="let propuesta" class="align-left">{{ propuesta.periodo }}</td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="encabezado">Acciones</th>
                    <td mat-cell *matCellDef="let propuesta">
                        <button mat-icon-button color="primary" matTooltip="Ver propuesta"
                            (click)="VerPropuesta(propuesta)">
                            <mat-icon>visibility</mat-icon>
                        </button>


                    </td>
                </ng-container>

                <tr mat-header-row
                    *matHeaderRowDef="['tema', 'primerEstudiante', 'segundoEstudiante', 'tercerEstudiante', 'tipo', 'categoria','periodo', 'acciones']">
                </tr>
                <tr mat-row
                    *matRowDef="let row; columns: ['tema', 'primerEstudiante', 'segundoEstudiante', 'tercerEstudiante', 'tipo','categoria','periodo', 'acciones'];">
                </tr>
            </table>
            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        </div>


    </div>


</div>