.pie-chart-wrapper {
  width: 100%;
  max-width: 500px;
  height: 400px;
  margin: auto;
  padding: 1rem;
}

@media (max-width: 600px) {
  .pie-chart-wrapper {
    height: 300px; 
    padding: 0 1rem;
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
  }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}


.btn-block {
    background: rgb(29, 113, 168);
    border-radius: 15px;
    margin-left: 15px;
    width: 230px;
    color: white;
}
.tabla-responsive {
    width: 100%;
    overflow-x: auto;
}

table {
    min-width: 600px;
}