<div id="register-section"></div>

<div class="container registro-formulario">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <mat-card class="mat-elevation-z8">
                <mat-card-title class="text-center">
                    <img class="foo1 align-self-center" alt="Logo Computacion"
                        src="../../assets/imagenes/logo/logo_computacion.jpg" />
                    <br>
                    Bienvenido al Sistema de Plan de Titulación
                </mat-card-title>
                <br>
                <form [formGroup]="formulario">
                    <mat-form-field>
                        <mat-label>Ingresa tu Usuario</mat-label>
                        <input matInput style="font-size: 14px;" placeholder="juan.perez" [formControl]="userMail"
                            required>
                        <mat-error *ngIf="userMail.invalid">{{ObtenerMensajeCampoUsuarioError()}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Ingresa tu Contraseña</mat-label>
                        <input matInput style="font-size: 13px;"
                            (keyup.enter)="hide1 = true; ValidarUsuario(formulario.value)" [formControl]="pass"
                            [type]="hide1 ? 'password' : 'text'" required>
                        <button mat-icon-button matSuffix (click)="hide1 = !hide1">
                            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="pass.invalid">{{ObtenerMensajeCampoContraseniaError()}}</mat-error>
                    </mat-form-field>
                </form>
                <div class="caja1">


                    <a [routerLink]="['/olvidar-contrasenia']" class="verde">Olvidó su contraseña?</a>
                    <br>
                    <a [routerLink]="['/registro-usuario']" class="verde">No tienes Cuenta? Registrate</a>

                </div>
                <div style="margin: auto;">
                    <button type="submit" class="btn btn-lg btn-block" (click)=" ValidarUsuario(formulario.value)"
                        [disabled]="!formulario.valid">Ingresar</button>
                </div>
            </mat-card>
        </div>
    </div>
    <app-footer></app-footer>

</div>