<div id="resultados">
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        REGISTRAR SECRETARIA
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="CerrarRegistro()" matTooltip="Salir">
        highlight_off
    </mat-icon>
</div>
<div class="container registro-formulario">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">

            <!-- FORMULARIO COMPLETO -->
            <form [formGroup]="registroForm">
                <mat-card-content>
                    <div class="nota">
                        <span>
                            NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el
                            botón
                            Guardar.
                        </span>
                    </div>

                    <div class="grid-container">
                        <mat-form-field>
                            <mat-label>Primer Nombre</mat-label>
                            <input matInput [formControl]="primerNombre" required>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Segundo Nombre</mat-label>
                            <input matInput [formControl]="segundoNombre">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Primer Apellido</mat-label>
                            <input matInput [formControl]="primerApellido" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Segundo Apellido</mat-label>
                            <input matInput [formControl]="segundoApellido">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Cédula</mat-label>
                            <input matInput type="text" placeholder="1724157688" maxlength="10" [formControl]="cedula"
                                required (keypress)="IngresarSoloNumeros($event)" required
                                (input)="ValidarCedula(cedula) ">
                            <mat-error *ngIf="!cedulaValida">
                                <mat-icon>error</mat-icon> Cédula incorrecta
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Celular</mat-label>
                            <input matInput type="text" placeholder="0998266401" maxlength="10" [formControl]="celular"
                                (keypress)="IngresarSoloNumeros($event)" required>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Correo Electrónico</mat-label>
                            <input matInput type="email" [formControl]="correo" required>
                            <mat-error *ngIf="correo.invalid">Ingrese un correo válido</mat-error>
                        </mat-form-field>


                        <mat-form-field>
                            <mat-label>Facultad</mat-label>
                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                matTooltip="Seleccionar su facultad.">
                                help_outline
                            </mat-icon>
                            <mat-select [formControl]="idFacultad"
                                (selectionChange)="onFacultadSeleccionada($event.value)">
                                <mat-option *ngFor="let facultad of facultades" [value]="facultad.id">
                                    {{ facultad.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Carrera</mat-label>
                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                matTooltip="Seleccionar su carrera.">
                                help_outline
                            </mat-icon>
                            <mat-select [formControl]="carrera" required>
                                <mat-option *ngFor="let ca of carreras" [value]="ca.idCarrera">
                                    {{ca.carrera}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </mat-card-content>
                <div style="text-align: center; margin-bottom: 2%;">
                    <button id="btn-raised" class="btn btn-sm" (click)="registrarUsuario(registroForm.value)"
                        [disabled]="!registroForm.valid" type="submit">
                        Guardar
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>